.ui-button {
	width: 100%;
}
.show-table {
	border-collapse: collapse;
	margin: 3px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.show-table thead tr {
	background-color: #002e98;
	color: #ffffff;
	text-align: left;
}
.show-table th,
.show-table td {
	padding: 2px 5px;
}
.show-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.show-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.show-table tbody tr:last-of-type {
	border-bottom: 2px solid #002e98;
}
.show-table tbody tr.active-row {
	font-weight: bold;
	color: #002e98;
}
.text-footer-print {
	font-size: x-small;
}

.show-table-short {
	border-collapse: collapse;
	margin: 1px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.show-table-short thead tr {
	background-color: #002e98;
	color: #ffffff;
	text-align: left;
}
.show-table-short th,
.show-table-short td {
	padding: 1px 2px;
}
.show-table-short tbody tr {
	border-bottom: 1px solid #dddddd;
}

.show-table-short tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.show-table-short tbody tr:last-of-type {
	border-bottom: 2px solid #002e98;
}
.show-table-short tbody tr.active-row {
	font-weight: bold;
	color: #002e98;
}
.text-footer-print {
	font-size: x-small;
}
.count-notif {
	position: absolute;
	top: 2px;
	right: -6px;
	opacity: 0.7;
}
.align-arrow {
	position: relative;
	top: 0.9rem;
	color: royalblue;
}
